@{
    ViewData["Title"] = "Home Page";
}

@model List<TimeKeeper.Data.Models.Invitation>


@if(@Model != null)
{
    foreach(var inv in @Model)
    {
        <h3>@inv.OrganisationName</h3>
        <h4>@inv.Header</h4>
        <p>@inv.Message</p>
    }

}